# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# buildozer for kivy
*buildozer*

# Distribution / packaging
.Python
build/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/